<!-- HTML -->
<div class="container mt-5">
  <h2 class="text-white">Top Rated Movies</h2>
  <div class="row row-cols-2 row-cols-md-4 g-4">
    <div class="col mb-4" *ngFor="let movie of receivedTopRatedMovies">
      <mat-card class="card">
        <img mat-card-image [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" alt="Movie Poster" (click)="onMovieClicked(movie.id)">
        
        <mat-card-content>
          <h4 >{{ movie.title }}</h4>
          <p >{{ movie.overview }}</p>
        </mat-card-content>
        
      </mat-card>
    </div>
  </div>
</div>
